header {
    padding: 15px 30px;
    overflow: hidden;
}

header h2 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #3bdc82;
}

header h2 a {
    color: #3bdc82;
}

.right {
    float: right;
}

.left {
    float: left;
}

button {
    background: #3bdc82;
    border: none;
    border-radius: 3px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: 10px;
}

button:focus {
    outline-color: #3bdc82;
}

button:hover {
    cursor: pointer;
}

button.white {
    background: white;
    border: 1px solid #3bdc82;
    color: #3bdc82;
}

a {
    display: inline-block;
}