<div class="hero">
  
  <div class="budgets" fxLayout="row">
    <button *ngIf="!showAdd" (click)="showAdd = true" md-button onClick="showAdd = true;" class="white" color="accent">Add +</button>
    <div *ngIf="showAdd">
      <form name="form" (ngSubmit)="f.form.valid && createBudget()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !budgetName.valid }">
            <md-input-container><input mdInput placeholder="Budget Name" type="text" class="form-control" name="budgetName" [(ngModel)]="model.budgetName" #budgetName="ngModel" required /></md-input-container>
            <div *ngIf="f.submitted && !budgetName.valid" class="help-block">Budget name is required</div>
        </div>
        <div class="form-group">
            <button md-button class="white btn btn-primary">Create</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
      </form>
    </div>
  </div>
  <div class="budgets" fxLayout="row" *ngFor="let b of allBudgets">
    <div class="budget-container" [fxFlex]="(20 - 2)" [fxFlex.md]="(100 / 3) - 1" fxFlex.sm="100%" fxFlex.lt-sm="100%">
      <md-progress-spinner
        class="example-margin"
        [color]="warn"
        [mode]="indeterminate"
        [value]="70">
      </md-progress-spinner>
    </div>
    <div class="budget-container" [fxFlex]="(60 - 2)" [fxFlex.md]="(100 / 3) - 1" fxFlex.sm="100%" fxFlex.lt-sm="100%">
      <h2>{{b.name}}</h2>
    </div>
    <div class="budget-container" [fxFlex]="(20 - 2)" [fxFlex.md]="(100 / 3) - 1" fxFlex.sm="100%" fxFlex.lt-sm="100%">
      <button md-raised-button [routerLink]="['/detail', b._id]" color="accent" (click)="goToDetail(b._id)">Open</button>
      <button 
        md-button
        class="delete" 
        *ngIf="b._id !== undefined" 
        style="color:red !important" 
        (click)="deleteBudget(currentUser._id, b._id)">
        Delete
      </button>
    </div>
  </div>
</div>
