<div class="hero">
  <div class="goals" fxLayout="row">
    <div class="goal-container" [fxFlex]="(20 - 2)" [fxFlex.md]="(100 / 3) - 1" fxFlex.sm="100%" fxFlex.lt-sm="100%">
      
    </div>
    <div class="goal-container" [fxFlex]="(60 - 2)" [fxFlex.md]="(100 / 3) - 1" fxFlex.sm="100%" fxFlex.lt-sm="100%">
      <h2>Name of Goal</h2>
    </div>
    <div class="goal-container" [fxFlex]="(20 - 2)" [fxFlex.md]="(100 / 3) - 1" fxFlex.sm="100%" fxFlex.lt-sm="100%">
      <a md-raised-button routerLink="/weather" color="accent">Open</a>
    </div>
  </div>
  <div class="goals" fxLayout="row">
    <div class="goal-container" [fxFlex]="(20 - 2)" [fxFlex.md]="(100 / 3) - 1" fxFlex.sm="100%" fxFlex.lt-sm="100%">
      <md-progress-spinner
        class="example-margin"
        [color]="primary"
        [mode]="indeterminate"
        [value]="70">
      </md-progress-spinner>
    </div>
    <div class="goal-container" [fxFlex]="(60 - 2)" [fxFlex.md]="(100 / 3) - 1" fxFlex.sm="100%" fxFlex.lt-sm="100%">
      <h2>Name of Goal</h2>
    </div>
    <div class="goal-container" [fxFlex]="(20 - 2)" [fxFlex.md]="(100 / 3) - 1" fxFlex.sm="100%" fxFlex.lt-sm="100%">
      <a md-raised-button routerLink="/weather" color="accent">Open</a>
    </div>
  </div>
</div>
