footer {
    padding: 15px 30px;
    max-height: 100px;
    height: 100%;
    text-align: center;
    color: #3bdc82;
}

.table {
    display: table;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}
