<header>
  <div class="left">
    <h2>Finapp</h2>
  </div>
  <div *ngIf="!isLogged" class="right">
    <a routerLink="/login"><button md-button class="white">Login</button></a>
    <a routerLink="/signup"><button md-button>Sign Up</button></a>
  </div>
  <div *ngIf="isLogged" class="right">
    <button (click)="logout()" md-button class="white">Logout</button>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="table">
    <div class="cell">
      <sub>Finapp &copy; 2017. All rights reserved. Powered by TRXAugmented.</sub>
    </div>
  </div>
</footer>
