header {
    padding: 15px 30px;
    overflow: hidden;
}

header h2 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #00e676;
}

.hero {
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	max-height: 600px;
	height: 100%;
    border-top: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
}

.table {
    display: table;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.cell h1 {
    font-weight: 900;
    font-size: 50px;
    margin: 0;
    color: white;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.login {
    max-width: 400px;
    width:100%;
    margin: 0 auto;
}

button {
    background: #00e676;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: 10px;
}

button:hover {
    cursor: pointer;
}

.white {
    background: white;
    border: 1px solid #00e676;
    color: #00e676;
}

.right {
    float: right;
}

.left {
    float: left;
}

sub {
    font-size: 11px;
}

a {
    display: inline-block;
}

form {
    color: #00e676;
}

md-input-container {
    width: 100%;
}

form button {
    float: right;
}

