<div class="hero">
  <div class="dashboard" fxLayout="row" fxLayoutWrap="wrap">
    <div class="card-container" fxFlex="50%" [fxFlex.md]="(100 / 2)" [fxFlex.sm]="(100 / 2) - 2" fxFlex.lt-sm="100%">
      <md-card class="example-card">
        <md-card-content>
          
        </md-card-content>
        <h2>Budgets</h2>
        <md-card-actions>
          <a md-raised-button routerLink="/budgets" color="accent">Open</a>
        </md-card-actions>
      </md-card>
    </div>
    <div class="card-container" fxFlex="50%" [fxFlex.md]="(100 / 2)" [fxFlex.sm]="(100 / 2) - 2" fxFlex.lt-sm="100%">
      <md-card class="example-card">
        <md-card-content>
          
        </md-card-content>
        <h2>Goals</h2>
        <md-card-actions>
          <a md-raised-button routerLink="/goals" color="accent">Open</a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
